flask
flask_cors
openai
langchain
Flask-SocketIO
pypdf==3.16.1
tiktoken
faiss-cpu
youtube-transcript-api==0.6.1
langchain-experimental
neo4j
wikipedia
python-dotenv
google-cloud-aiplatform
duckduckgo-search
beautifulsoup4==4.11.1
pandas==1.5.1
numpy==1.24.1
streamlit==1.16.0
streamlit-echarts==0.4.0
requests==2.28.1
sentence_transformers